.card{


    &__span{
        // transform: translateX(100%);
        height: 100%;
        width: 100%;
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.041);
        color: white;
        transition: all .3s ease;
        visibility: hidden;

    }

    &__hover{
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.521);
        background-size: cover;
        transition: all .3s ease-in;
        
       &:hover > .card__span{
            visibility: visible;
            // transform: translateX(0);
            background: rgba(0, 0, 0, 0.486);


        }

    }

}

