* {
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.login-form {
  width: 100%;
  font-size: 14px;

  &__fields {
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  &__label {
    color: #bf616a;
    font-size: 14px;
    line-height: 2;

    span {
      color: #eceff4;
      margin: 0px 5px;
      font-size: 14px;
    }
  }

  &__input {
    border: none;
    color: #a3be8c;
    background-color: #414752;
    line-height: 2;
    border-radius: 0;
  }
  &__button {
    border: none;
    line-height: 2;
    color: #bf616a;
    border-radius: 0;
    background-color: #3b4352;
    text-align: left;

    &:hover {
      background-color: #5d6169;
    }
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 120px;
  &__img {
    width: 400px;
    opacity: 0.3;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
    -webkit-transition-delay: 9999s;
    
}