.nav {
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #414752;
    border-bottom: 1px #eceff433 solid;
    color: white;
    font-size: 18px;
    img {
        width: 50px;
        margin-left: 20px;
        filter: invert(1);
    }
    &__left {
        width: 100px;
    }
    &__center {
        text-align: center;
    }
    &__right {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }
    &__icon {
        margin-right: 15px;
        font-size: 14px;
        cursor: pointer;
        color: #ECEFF4;
        transition: all .3s ease;
        &:hover {
            color: #88C0D0;
        }
    }
}